*.vcxproj
*.tlog
*.filters
*.opensdf
*.sdf
*.sdf
*.suo
ProceduralMazeGame.sdf
*.tlog
*.pdb
*.exe
*.ilk
Debug/
*.tlog
*.idb
*.obj
*.tlog
*.exe
*.pdb
*.log
*.lastbuildstate
ProceduralMazeGame/x64/Release/main.obj
*.obj